@model KTM.Models.ViewModels.HomePageViewModel
@{
    ViewBag.Title = "Home";
}

<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
        <div class="item active">
            <img src="https://drive.google.com/uc?id=0ByuTp8DIw-KvcXBDTl92UzFEMDA">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Welcome</h1>
                    <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <a class="btn btn-large btn-primary" href="../Account/Register">Sign up today</a>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="https://drive.google.com/uc?id=0ByuTp8DIw-KvWXQ5U2FJY3MwaDA" alt="">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Motorcycles</h1>
                    <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <a class="btn btn-large btn-primary" href="../Motorcycles">Learn more</a>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="https://drive.google.com/uc?id=0ByuTp8DIw-KvdE1YRmxSekkxb0k" alt="">
            <div class="container">
                <div class="carousel-caption">
                    <h1>News</h1>
                    <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <a class="btn btn-large btn-primary" href="../News/Index">Learn more</a>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev"></a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next"></a>
</div><!-- /.carousel -->



<div class="row">
    <div class="col-md-6">
        <h2>Highest-Rated Motorcycles</h2>
        @Html.DisplayFor(m => m.HighestRatedMotorcycles)
    </div>
    <div class="col-md-6">
        <h2>Latest Reviews</h2>
        @Html.DisplayFor(m => m.LatestReviews)
    </div>
</div>