@model KTM.Models.ViewModels.HomePageViewModel
@{
    ViewBag.Title = "Home";
}

<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
        <div class="item active">
            <img src="https://drive.google.com/uc?id=0ByuTp8DIw-KvcXBDTl92UzFEMDA">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Where is your limit?</h1>
                    <p class="lead">Go as far as curiosity takes you</p>
                    <a class="btn btn-large btn-primary" href="../Categories/Details/4">Learn more</a>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="https://drive.google.com/uc?id=0ByuTp8DIw-KvWXQ5U2FJY3MwaDA" alt="">
            <div class="container">
                <div class="carousel-caption">
                    <h1>ADVENTURE AWAITS</h1>
                    <p class="lead">Every new ride on your KTM is an ADVENTURE waiting to be experienced – a dream that is yours to realize. The adventurous spirit lurks in all of us, but few ever answer its call</p>
                    <a class="btn btn-large btn-primary" href="../Motorcycles">Learn more</a>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="https://drive.google.com/uc?id=0ByuTp8DIw-KvdE1YRmxSekkxb0k" alt="">
            <div class="container">
                <div class="carousel-caption">
                    <h1>SAM SUNDERLAND LEADS THREE-WAY PODIUM FOR KTM</h1>
                    <p class="lead">The 2017 Dakar Rally, an edition that delivered its share of drama was finally settled on Saturday when Red Bull KTM factory riders</p>
                    <a class="btn btn-large btn-primary" href="../News/Details/1">Read more</a>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev"></a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next"></a>
</div><!-- /.carousel -->



<div class="row">
    <div class="col-md-6">
        <h2>Highest-Rated Motorcycles</h2>
        @Html.DisplayFor(m => m.HighestRatedMotorcycles)
    </div>
    <div class="col-md-6">
        <h2>Latest Reviews</h2>
        @Html.DisplayFor(m => m.LatestReviews)
    </div>

</div>
